@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap");

body {
	background-color: #fb6b6b;
}

header {
	margin: 50px 0px 60px 0px;
}

p {
	color: #333333;
	font-family: "Recursive", sans-serif;
	font-weight: 400;
}

.welcome {
	height: 300px;
	margin-top: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.title {
	font-family: "Righteous", cursive;
	font-size: 36px;
	font-weight: 400;
	line-height: 44px;
	color: #fff;
	margin-bottom: 25px;
}

.button-welcome {
	border: 1px solid #d70900;
	border-radius: 5px;
	width: 246px;
	height: 54px;
	color: #d70900;
	font-family: "Recursive", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.image-content {
	width: 52px;
	height: 60px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flashcards {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 50px;
	padding-bottom: 155px;
}

.flashcards > button {
	width: 300px;
	height: 65px;
	background-color: #ffffff;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: none;
	padding: 0 15px;
	margin-bottom: 25px;
}

button > p {
	font-size: 16px;
	font-weight: 700;
}

.flashcards ion-icon {
	width: 20px;
	height: 23px;
	--ionicon-stroke-width: 40px;
}

.card {
	width: 299px;
	height: 131px;
	background-color: #ffffd4;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card > p {
	font-size: 18px;
	margin-top: 18px;
	margin-left: 15px;
}

.card > img {
	width: 30px;
	height: 20px;
	align-self: flex-end;
	margin-bottom: 6px;
	margin-right: 15px;
}

.final > p {
	text-decoration: line-through;
}

.card > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 13px 6px 13px;
}

.button {
	width: 85px;
	height: 37px;
	border-radius: 5px;
	border: none;
}

.button > p {
	font-size: 12px;
	font-weight: 400;
	color: #ffffff;
}

.red {
	background-color: #ff3030;
}

.yellow {
	background-color: #ff922e;
}

.green {
	background-color: #2fbe34;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Recursive", sans-serif;
    font-size: 18px;
    color: #333333;
}